.menu
{
    height: 75px;
    background-color: #e91e63;
    color: #423838;
    display: flex;
    list-style: none;
    gap: 33px;
    align-items: center;
}
li>a
{
  color: white;
  font-size: 15px;
  text-decoration: none;
}
li>a:hover{
  font-size:25px;
  border:1px solid white;
}
ul
{
  margin:0px;
  padding: 0px;
}
.sidebar
{
  width: 250px;
  background-color: #b0b0b1;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style: none;
}
.sidebar>li
{
  height:50px;
  width: 100%;
  padding-left:80px;
  box-sizing: border-box;
  padding-top:12px;

}
.sidebar>li:hover
{
  background-color:#405b6c;
  color:white;
  border: 1px solid white;
}
.logo
{
  height: 75px;
  width: 150px;
  margin-right: 200px;
  margin-left: 80px;
}
.appContainer
{
  display: flex;
}
.allproducts
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
}

.product
{
border: 1px solid gray;
width: 250px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.product>img
{
  height: 250px;
  width: 250px;
}
.btn
{
  height: 40px;
  width: 120px;
  background-color: rgb(148, 148, 236);
  border: 2px solid white;
  color: white;
}
.btn:hover
{
  background-color: white;
  border: 2px solid rgb(148, 148, 236);
  color: rgb(0, 0, 2);
}
.Teamcontainer
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}
.teammember
{
  width:250px;
  border:1px solid grey;
  text-align: center;
}
.teammember>img
{
  height:200px;
}
.banner
{
  background-image: url('./bg2.PNG');
  height:400px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner>h1
{
  font-size: 40px;
    font-family: auto;
    letter-spacing: 3px;
    text-align: center;
}
.s
{
  color:yellow;
}
.des
{
  background-color: #ffff0024;
  height:300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Contact
{width:100%;
display: flex;}
.contactform
{
  width:50%;
  height:450px;
  display: flex;
  flex-direction: column;
  
  background-color: #9b0032;
}
input[type="text"]
{
  height:50px;
  width:50%;
}
input[type="button"]
{
  height:50px;
  width:150px;
  margin-top:250px;
}
p
{
  height:50px;
  
}
textarea
{
  height:200px;
  width:50%;
  margin-top:150px;
}
.map
{
  width: 50%;
  height: 450px;;
}
h1
{
  color:#9b0032;
  text-align: center;
}
p
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}